@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Lato';
  }

.accordion {
}

.accordion-header {
    text-align: center;
    font-weight: 700;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    background-color: #22313F;
    border-bottom: 1px solid #2c3e50;
    padding:0 0 0 15px;
}

.accordion-collapse {
    background-color: #3f5a73;
    border-left: 59px solid #22313F;
}
.accordion-body {
    background-color: #3f5a73;
    color:#fafafa;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion-button, .accordion-button:active, .accordion-button:focus {
    background-color: #3f5a73;
    border-bottom: 1px solid #2c3e50;
    color:#fff;
    margin-left:13px;
    border-color #3f3f3f;
}
.accordion-button:before {
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.checkbox-container {
    margin:auto;
    width:100%;
    max-width:30px;
}
input[type="checkbox"] {
    width: .8em;
    height: .8em;
    /* color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1); */
}
/* input[type="checkbox"]:before {
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      left: 7px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    input[type="checkbox"]:checked {
      color: #fff;
    }
    input[type="checkbox"]:before {
        opacity: 1;
    } */

/* .accordion-button:hover, .accorion-button:active, .accordion-header:hover, .accordion-header:active {
    background-color:#34495e;
    color:#fff;
} */