@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Lato';
  }

.accordion {
    background-color: #16a085;
}

.accordion-header {
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
}

.accordion-body {
    background-color: #1abc9c;
    color:#fafafa;
    font-size: 1em;
}

.accordion-button {
    background-color: #22313F;
    border-bottom: 1px solid #2c3e50;
}

.accordion-button:hover, .accorion-button:active {
    background-color:#34495e;
}