@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Lato';
  }

.accordion {
    background-color: #16a085;
}

.accordion-header {
    text-align: center;
    font-weight: 700;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    background-color: #22313F;
    border-bottom: 1px solid #2c3e50;
    padding:0 0 0 15px;
}

.accordion-body {
    background-color: #1abc9c;
    color:#fafafa;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion-button, .verseRef {
    background-color: #22313F;
    border-bottom: 1px solid #2c3e50;
    color:#fff;
}
.accordion-button:before {
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}


.accordion-button:hover, .accorion-button:active {
    background-color:#34495e;
}